{% extends 'base/base.html' %}
{% load static %}


{% block title %}
    Foodshop - Trang chủ
{% endblock title %}


{% block AllTitleBox %}   
    
{% endblock AllTitleBox %}
    
    
{% block body %}

        <!-- Start Slider -->
        <div id="slides-shop" class="cover-slides">
            <ul class="slides-container">
                <li class="text-center">
                    <img src="{% static 'images/banner-01.jpg' %}" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Welcome To <br> Freshshop</strong></h1>
                                <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                                <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="text-center">
                    <img src="{% static 'images/banner-02.jpg' %}" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Welcome To <br> Freshshop</strong></h1>
                                <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                                <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="text-center">
                    <img src="{% static 'images/banner-03.jpg' %}" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="m-b-20"><strong>Welcome To <br> Freshshop</strong></h1>
                                <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                                <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="slides-navigation">
                <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- End Slider -->
    
        <!-- Start Categories  -->
        <div class="categories-shop">
            <div class="container">
                <div class="row">
                    
                    {% for category in categories  %}
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="shop-cat-box">
                                    <img class="img-fluid" src="{{category.image}}" alt="" />
                                    <a class="btn hvr-hover" href="{% url 'product_grid:product_grid' category.slug %}">{{category.name|title}}</a>
                                </div>
                        </div>    
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Categories -->
        
        <div class="box-add-products">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="offer-box-products">
                            <img class="img-fluid" src="{% static 'images/add-img-01.jpg' %}" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="offer-box-products">
                            <img class="img-fluid" src="{% static 'images/add-img-02.jpg' %}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Start Products  -->
        <div class="products-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-all text-center">
                            <h1>Sản phẩm</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="special-menu text-center">
                            <div class="button-group filter-button-group">
                                <button class="active" data-filter=".all-featured">Tất cả </button>
                                <button data-filter=".top-featured">Mới nhất</button>
                                <!-- <button data-filter=".best-seller">Best seller</button> -->
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row special-list">
                    
                    {% for product in all_products  %}
                        <div class="col-lg-3 col-md-6 special-grid all-featured">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">Sale</p>
                                    </div>
                                    <img src="{{product.images.0}}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            <!-- <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li> -->
                                        </ul>
                                        <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>{{product.name|title}}</h4>
                                    <h5>{{product.price| floatformat:"0"}}dd </h5>
                                </div>
                            </div>
                        </div>   
                    {% endfor %}
                        
                    {% for product in newer_products %}
                        <div class="col-lg-3 col-md-6 special-grid top-featured">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="new">New</p>
                                    </div>
                                    <img src="{{product.images.0}}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            <!-- <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li> -->
                                        </ul>
                                        <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>{{product.name|title}}</h4>
                                    <h5>{{product.price| floatformat:"0"}}dd </h5>
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- End Products  -->
    
{% endblock body %}